In [4]:
import mysql.connector
mydb=mysql.connector.connect(host= 'localhost',user='root',password='abc123' )
#print(mydb.connection_id)
cur=mydb.cursor()
s="create database db4"
cur.execute(s)
mydb.commit()

In [9]:
import mysql.connector
mydb=mysql.connector.connect(host= 'localhost',user='root',password='abc123',database='db4' )
#print(mydb.connection_id)
cur=mydb.cursor()
s="create table book1(bookid integer, booktitle varchar(20),price float(5,2))"
cur.execute(s)
mydb.commit()

In [13]:
import mysql.connector as myc
mydb=mysql.connector.connect(host= 'localhost',user='root',password='abc123',database='db4' )
#print(mydb.connection_id)
cur=mydb.cursor()
s="insert into book1 (bookid,booktitle,price) values(%s,%s,%s)"
b1=(34,"biggner python",23.00)
b2=(23,"black book java",44.00)
s1="insert into book1 (bookid,booktitle,price) values(122,'c++ e balaguruswamy',22.89)"
cur.execute(s1)
cur.execute(s,b1)
cur.execute(s,b2)
mydb.commit()

In [15]:
import mysql.connector
mydb=mysql.connector.connect(host= 'localhost',user='root',password='abc123',database='db4' )
#print(mydb.connection_id)
cur=mydb.cursor()
s="delete from book1 where price>40"
cur.execute(s)
mydb.commit()

In [ ]:
import mysql.connector
mydb=mysql.connector.connect(host= 'localhost',user='root',password='abc123',database='db4' )
#print(mydb.connection_id)
cur=mydb.cursor()
s="update book1 set price=price*2"
cur.execute(s)
mydb.commit()

In [ ]:
import mysql.connector
mydb=mysql.connector.connect(host= 'localhost',user='root',password='abc123',database='db4' )
#print(mydb.connection_id)
cur=mydb.cursor()
s="alter table book1 add(publisher varchar(10))"
cur.execute(s)
mydb.commit()

In [ ]:
import mysql.connector as myc
mydb=myc.connect(host= 'localhost',user='root',password='abc123',database='db4' )
#print(mydb.connection_id)
cur=mydb.cursor()
s="select * from book1"



cur.execute(s)
result=cur.fetchall()
for r in result:
    print(r)

In [ ]:
import mysql.connector as myc
mydb=mysql.connector.connect(host= 'localhost',user='root',password='abc123' )
print(mydb.connection_id)